app-home {
  section {
    margin-bottom: 40px;
  }

  .recipient {
    .box {
      width: max-content;
      margin: 0 auto;
      padding: 20px 40px;
    }
  }
  .btn {
    margin-top: 10px;
    text-align: center;
  }
}
